<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--方法一：无参构造方法实例化，常用-->
    <!--scope="singleton"单例模式,对象在调用配置文件时创建，默认为singleton
    scope="prototype"多例模式，对象在调用getBean()时创建-->
    <!--<bean id="userDao" class="cn.com.spring.dao.impl.UserDaoImpl" init-method="init" destroy-method="destory"></bean>-->

    <!--方法二：静态工厂实例化-->
    <!--<bean id="userDao" class="cn.com.spring.factory.StaticFactory" factory-method="getUserDao"></bean>-->

    <!--方法三:动态工厂实例化-->
    <!--<bean id="factory" class="cn.com.spring.factory.DynamicFactory"></bean>-->
    <!--<bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->

    <bean id="userDao" class="cn.com.spring.dao.impl.UserDaoImpl"></bean>
    <bean id="userService" class="cn.com.spring.service.impl.UserServiceImpl"></bean>
</beans>